@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kriosoft's test</h1>
    <p class="lead">This is a proof of concept for a job interview</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This project is hosted on GitHub</h2>
        <p>
            The files for this project are hosted on my GitHub Account, if you need to share it with someone else.
        </p>
        <p><a class="btn btn-default" href="https://github.com/GustavoCarlosGranadosThierry/KriosoftPOC">Visit Site &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See more of my projects</h2>
        <p>I'm currently developing a website/blog where I will upload projects and proofs of concept.</p>
        <p><a class="btn btn-default" href="https://tefaltopuntoycoma.com/">Visit Site &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project didn't work properly?</h2>
        <p>There is a video online where I run the system, showing the functionalities required</p>
        <p><a class="btn btn-default" href="https://youtu.be/FLfDwxSMwzQ">Watch video &raquo;</a></p>
    </div>
</div>